<!DOCTYPE html>

<html>
    
    <form action = "/device_search" method="post">
        {% csrf_token %}
        <table>
            <tr>
                <td>Device Name:</td><td><input id="device_name_search" type="text" name="device_name_search" value="{{current_device_name_search}}"></td>
            </tr>
            <tr>
                <td>Manufacturer Name:</td><td><input id="manufacturer_name_search" type="text" name="manufacturer_name_search" value="{{current_manufacturer_name_search}}"></td>
            </tr>
        </table>
        <input type="submit" valye="Submit">
    </form>

    {% if mmatches %}
            <ul>
                {% for mname, matches in mmatches.items %}
                    <li>{{mname}}</li>
                    <ul>
                        {% for match in matches %}
                            <li><a href={% url 'device_info' match.model_number %}>{{ match.model_number }}</a></li>
                            <ul>
                                <li>Brand name: {{ match.brand_name }}</li>
                                <li>Generic name: {{ match.generic_name }}</li>
                            </ul>
                        {% endfor %}
                    </ul>
                {% endfor %}
            </ul>
    {% endif %}

</html>