<!DOCTYPE html>

<html>
    
    <form action = "/device_search" method="post">
        {% csrf_token %}
        <table>
            <tr>
                <td>Device Name:</td><td><input id="device_name_search" type="text" name="device_name_search" value="{{current_device_name_search}}"></td>
            </tr>
            <tr>
                <td>Manufacturer Name:</td><td><input id="manufacturer_name_search" type="text" name="manufacturer_name_search" value="{{currentmanufacturer_name_search}}"></td>
            </tr>
        </table>
        <input type="submit" valye="Submit">
    </form>

    {% if matches %}
        <h2>{{Results}}</h2>
        <ul>
            {% for match in matches %}
                <li>{{ match.brand_name }} ({{ match.generic_name }}): <a href={% url 'device_info' match.model_number %}>Page</a> </li>
            {% endfor %}
        </ul>
    {% endif %}


</html>