{% extends "problems/base.html" %}

{% block content %}
    <div id="__next">
        <div class="flex flex-col md:py-16">
            <div class="flex flex-col flex-grow  md:flex-row">
                    <div class="flex flex-col items-center flex-none p-4 gap-2 md:items-start">
                        <p class="text-2xl font-bold">SafeMed</p>
                        <a onclick="document.getElementById('manufacturer_name_search').value='abbott';document.getElementById('devsearch').submit();">Abbott</a>
                        <a onclick="document.getElementById('manufacturer_name_search').value='boston scientific';document.getElementById('devsearch').submit();">Boston Scientific</a>
                        <a onclick="document.getElementById('manufacturer_name_search').value='medtronic';document.getElementById('devsearch').submit();">Medtronic</a>
                        <a onclick="document.getElementById('manufacturer_name_search').value='stryker';document.getElementById('devsearch').submit();">Stryker</a>
                    </div>
                <div class="flex flex-col flex-grow p-4">
                    <div class="pb-16 mx-auto max-w-screen-sm antialiased prose">
                        <p><h3>Search for a medical device to see its safety history.</h3></p>
                        <div class="flex w-full justify-center">
                            <form id = "devsearch" action = "{% url 'device_search' %}" method="post">
                                {% csrf_token %}
                                <div class="flex w-full justify-center">
                                    <table>
                                        <tr>
                                            <td>Device Name:</td><td><input id="device_name_search" type="text" style="font-size:16.1px" name="device_name_search" value="{{current_device_name_search}}" onkeypress="if(event.keyCode === 13){document.getElementById('devsearch').submit()}"></td>
                                        </tr>
                                        <tr>
                                            <td>Manufacturer Name:</td><td><input id="manufacturer_name_search" type="text" style="font-size:16.1px" name="manufacturer_name_search" value="{{current_manufacturer_name_search}}" onkeypress="if(event.keyCode === 13){document.getElementById('devsearch').submit()}"></td>
                                        </tr>
                                    </table>
                                </div>
                                
                            </form>
                        </div>
                        <div class="flex w-full justify-center">
                            <a onclick=";document.getElementById('devsearch').submit();">Search</a>
                        </div>
                    

                </div>
            </div>
        </div>
    </div>
{% endblock %}